body{
	background-image: url("../images/brickwallll.png");
	width: auto;
	margin: 0;
	padding: 0;
}
.content{
	width: 960px;
	margin: auto;
	padding: 0;
	overflow: auto;

}
header{
	position: relative;
	width: 100%;
	border-bottom: 2px solid #cccccc;
	background-color: #ffffff;
	float:left;
}
#name{
	color: white;
	margin-top:0;
	margin-bottom: 0;
	background: #4aaaa5;
	padding: 15px; 
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin-left: 0;
}
nav{
	float: right;
	padding-top: 20px;
	margin-right: 0;
}
.nav_bar{
	float: left;
}
/*.clearfix:: {
	overflow: auto;
	content:" ";
	display: block;
	clear: both;
}*/
section{
	float: left;
	background-color: #ffffff;
	width: 618px;
	margin: 20px 0 80px 0;
	border: 1px solid #dddddd;
	padding: 0 15px 15px 15px;
}
#about{
	color: #4aaaa5;
	border-bottom: 2px solid #dddddd;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 15px 0 15px 0;
	margin: 0 0 15px 0;
}
img{
	float: left;
	margin-bottom: 15px;
	margin-right: 15px;
}
div.img:nth-of-type(odd){
	margin-right: 15px;
}
div.img{
	float: left;
	width: 48%;
	position: relative;
	display: block;
}
.gallery{
	width: 100%;
}
div.bar{
	padding-right: 15px;
	position: absolute;
	left: 0;
	right:0;
	height: 25px;
	background: #4aaaa5;
	z-index: 3;
	top: 70%;
	color: #ffffff;
}
aside{
	border:1px solid #dddddd;
	float: right;
	margin: 20px 0 80px 0;
	background-color: #ffffff;
	padding: 0 15px 15px 15px;
	width: 238px;
}
#connect{
	color: #4aaaa5;
	padding: 13px 0 13px 0;
	margin-bottom: 13px;
	border-bottom: 1px solid #dddddd;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right:0;
	padding: 20px 0 20px 0;
	text-align: center;
	border-top: 5px solid #4aaaa5;
	background: #666666;
	font-size: 10px;
}
.text{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.5;
}
.connect_netw{
	width: 73px;
	margin: 3px;
}
footer.text{
	color: #ccc;
	z-index: 10;
}
.inp{
	width: 95%;
	padding: 2%;
	margin: 10px 15px 10px 0;
}
.inp.msg{
	padding-bottom: 30%;
}

h1{
	font-size: 35px;
    font-weight: bold;
}
h3{
	font-size: 18px;
    font-weight: bold;
}
.nav_div_right{
	border-right: 1px solid #dddddd;
	padding-right: 10px;
	margin-right: 10px;
}
textarea{
	border-color: #dddddd;
}
#btn{
	color: #ffffff;
	background-color: #4aaaa5;
	font-size: 100%;
	padding: 10px 20px 10px 20px;
}
nav a:hover{
	transform: rotate(20deg);
	color: #4aaaa5;
	transform: scale(1.2, 1.2);
}
#btn:hover{
	transform: scale(1.03, 1.05);
	cursor: pointer;
}
.bar.text{
	text-align: center;
}

@media screen and (max-width: 980px){
	.content{
		width: auto;
		padding-left: 3%;
		padding-right: 3%;
	}
	aside{
		width: 79px;
	}
/*	aside, nav{
		margin-right: 50px;
	}
	}
	section, #name{
		margin-left: 50px;
	}*/

}

@media screen and (max-width: 768px) {
	.content{
		width: 650px;
	}
	section{
		margin-bottom: 0;
	}
	aside{
		float: left;
		width: 476px;
	}
}

@media screen and (max-width: 640px){

}






